td.column-session-status {
  text-align: left !important;
}

.ant-pagination {
  margin: 16px 16px !important;
}

.add-student-btn {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 10px;
}

.add-student-btn-container {
  position: relative;
}
