.app-logo {
  width: 180px;
  padding-left: 18px;
}

.ant-layout-footer {
  padding-top: 0;
}

.app-logo-container--collapsed .app-logo {
  padding-left: 24px;
}

.app-logo-container {
  display: flex;
  overflow: hidden;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.ant-layout-header {
  box-shadow: 0px 1px 2px 0px #999999;
}

.ant-layout-sider {
  box-shadow: 1px 0px 2px 0px #999999;
}

.header-right-section {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.lls-header {
  background: #fff;
  padding: 0;
}

.lls-sider--sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.lls-header--sticky {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header-right-section__bell {
  font-size: 18px;
}

.header-right-section__badge {
  margin-right: 30px;
}

.lls-content {
  padding: 0;
  margin-top: 64px;
  margin: 24px 16px;
  min-height: 280px;
}

@media screen and (max-width: 640px) {
  .lls-content {
    margin: 0px;
  } 
  .ant-layout-sider {
    box-shadow: none;
  }
}

